<p id="notice"><%= notice %></p>

<h1><%=@page.name%> Page Components</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @components.each do |component| %>
      <tr>
        <td><%= component.name %></td>
        <td><%= component.description %></td>
        <td><img src="<%= component.image.url(:thumb)%>" /></td>
        <td><%= link_to 'Edit', edit_page_component_path(component.page, component) %></td>
        <td><%= link_to 'Destroy', page_component_path(component.page, component), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Component', new_page_component_path %> | 
<%= link_to 'All Pages', pages_path %>
