<div class="container">
  <p id="notice"><%= notice %></p>

<h1><%=@project.name %> <%=@page.name%> Page Components</h1>
<%= link_to 'New Component', new_project_page_component_path %> | 
<%= link_to 'All Pages', project_pages_path %>
<hr />

<% @components.each do |component| %>
<div class="well">
  <h2 class="pull-left"><%= component.name %></h2>
  <p class="pull-right">
    <%= link_to 'Edit', edit_project_page_component_path(component.page.project, component.page, component) %>
    <%= link_to 'Destroy', project_page_component_path(component.page.project, component.page, component), method: :delete, data: { confirm: 'Are you sure?' } %>
  </p><!-- .pull-right -->
  <div class="clearfix"></div>

  <%=@markdown.render(component.description).html_safe%>
  <% if component.image %>
    <img src="<%= component.image.url(:thumb)%>" />
  <% end %>
</div><!-- .well -->
<% end %>

</div><!-- .container -->