<p id="notice"><%= notice %></p>

<h1><%=@page.name%> Page Components</h1>
<%= link_to 'New Component', new_project_page_component_path %> | 
<%= link_to 'All Pages', project_pages_path %>

<% @components.each do |component| %>
    <%= component.name %>
    <%=@markdown.render(component.description).html_safe%>
    <img src="<%= component.image.url(:thumb)%>" />
    <%= link_to 'Edit', edit_project_page_component_path(component.page.project, component.page, component) %>
    <%= link_to 'Destroy', project_page_component_path(component.page.project, component.page, component), method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr />  
<% end %>
  
<br>