<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="pull-left"><%=@project.name %> Pages</h1>
  <div class="pull-right">
    <%= link_to 'New Page', new_project_page_path, class: "btn btn-default" %>
  </div>
  <div class="clearfix"></div>

  <% @pages.each do |page| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h2 class="pull-left"><%= page.name %></h2>
      <div class="pull-right">
        <%= link_to 'Show Components', project_page_components_path(page.project, page), class: "btn btn-default" %>
        <%= link_to 'Destroy', project_page_path(page.project, page), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
      </div><!-- .pull-right -->
    <div class="clearfix"></div>
    </div><!-- .panel-body -->
  </div><!-- .panel -->
  <% end %>

</div><!-- .container -->
